.fa
{
  font-size: 24px;

}

.icon-button{
font-size: 24px;
color: rgba(0, 0, 0, 0.87);
fill: rgba(0, 0, 0, 0.87);
 width: 48px; 
 height: 48px; 
cursor: pointer;
 padding: 12px;
 background:transparent;
 pointer-events: initial;
}
