/*
.field {
  width: 100%
}

.checkbox-field {
  label {
    float: left;
    padding-right: 5px;
  }
}

.input-group .form-control {
  z-index: 0;
}

.display-field {
  .display-input {
    border: none;
  }
}
*/
