.react-tagsinput {
  background-color: #fff;
  //border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}


.react-tagsinput-tag {
  border-radius: 2px;
  /* color: #638421; */
  display: flex;
  float:left;


  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #acacac;
  background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
}

.react-tagsinput-remove {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: #585858;
  line-height: 30px;
}

.react-tagsinput-tag a::before {
  content: " x";
}

.react-tagsinput-input{
  border: 10;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}