$nav_logo_width:                     	250px;

$main_nav_bgcolor: #3ab257;
$main_nav_color: $white;


$current_item_bgcolor:green;
$current_item_color: #fff;
$current_item_parent_bgcolor:#222;
$current_item_parent_color:#fff;


$main_nav_bgcolor_hover: #222;
$child_item_bgcolor_hover: #111;
$parent_item_bgcolor_hover: #222;


$parent_item_color: #fff;
$child_item_color: #fff;


$super_nav_height:0px;

$nav_logo:"../artulous/img/logo.svg";
$nav_logo_mobile:"../artulous/img/logo.svg";
$nav_logo_width:150px;
$nav_logo_height:50px;
$header_max_width:1200px;
