$nav_logo:"../img/logo.png";
$nav_logo_width:250px;
$nav_logo_height:32px;
$nav_logo_margin_top:10px;

$nav_logo_mobile:"../img/logo.png";
$nav_logo_mobile_width:200px;
$nav_logo_mobile_height:32px;

$header_max_width:1366px;

$header_background: #dd7d38;
$super_nav_color: #767676;
$super_nav_height:42px;


