.page-content > .wizard{
  position:absolute;
}
.wizard {
  background-color:rgba(98, 90, 97, 1); 
  text-align: left;
  color:white;
  

  height: 100%;
  width:100%; 

  .wizard-content
  {
  //  padding: 24px;
   &>div 
   {
      padding: 24px;
   }
    color:white;
    
  }
  .theater > .curtain
  {
    display:none;
  }
}

.theater
{
  .wizard
  {
    background-color:black;
    color:white;

  }

}